name: example
description: Example app to test ColorSing lints
publish_to: none

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  custom_lint: ^0.8.1
  colorsing_flutter_lints:
    path: ../
